node_modules/
dist/
build/
.env
storage/music/*
storage/cache/*
storage/avatars/*
storage/cookies/*
storage/bin/*
storage/postgres/data/*
!storage/music/.gitkeep
!storage/cache/.gitkeep
!storage/avatars/.gitkeep
!storage/cookies/.gitkeep
!storage/bin/.gitkeep
!storage/postgres/.gitkeep
backend/prisma/*.js
backend/prisma/*.js.map
backend/prisma/*.d.ts
backend/prisma/*.d.ts.map
*.log
.DS_Store
Thumbs.db
